* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    color: white
    
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    display: inline;
    background-image: url(./assets/backgrund.jpg);
    
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-weight: 700;
    
}

nav{ 
    display: flex;
    justify-content: space-between;
    width: 36%;
    
}


/* nav a:hover{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.536);
} */

.hero {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-evenly;
    align-items: center;
    

  }

.hero button {
    margin-top: 20px;
    padding: 12px;
    border: .5px solid #f69e51;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.536);
    border-radius: 8px;
    background-color: #fff;
    color: black;
    
}

button:hover{
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.536);
}

#fotoperfil {
    display: flex;
    max-width: 30vw;
    max-height: fit-content;
    margin: 1rem;
    border-radius: 100%;
    border: .5px solid transparent;
    
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.536);
  }

div .botoes {
    display: inline-flex;
    width: 641px;
    height: 84px;
    align-items: flex-start;
    gap: 20px;

}

button{
    padding:20px 30px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #f69e51;

}



/* FORM */



