* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    color: white;
    background-color: rgb(32, 32, 32);
}

body {
    height: 100vh;
}

section{
    padding: 20vh 0;
}

.icon{
    color: rgb(32, 32, 32);
    background-color: transparent;
    margin-left: 5px;
    font-size: 20px;
}

.btn{
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
    border: 1px solid rgb(143, 143, 143);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CSS */
#btn-hero {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: rgb(32, 32, 32);
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#btn-hero :hover {
  background-color: rgb(249,250,251);
}

#btn-hero :focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#btn-hero :focus-visible {
  box-shadow: none;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between; /* Alinha os itens no início e no final */
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 14px;
    border-bottom: rgba(255, 255, 255,1) 2px solid;
}

/* LOGO */
.header_logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    padding: 7px;
    /* border: 1px solid white; */
}
/* MENU */

.header_menu {
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 6px;
    display: flex; /* Torna o menu flexível */
    justify-content: center; /* Centraliza o menu */
    flex-grow: 1; /* Permite que o menu cresça para ocupar o espaço disponível */
    /* border: 1px solid white; */
}

.menu_item {
    padding: 1px;
    margin: 0 10px; /* Adiciona margem entre os itens do menu */
    text-decoration: none;
    color: white;
    transition: 0.3s;
    
}

.menu_item:hover{
    color: #f69e51;
    border-bottom: #f69e51 1px solid;
    /* position: relative; */
}

.menu_item_link{
    text-decoration: none;
    color: white;
    transition: all .1s;
    padding: 8px;
}

/* header a{
    background-color: transparent;
} */


/* HERO */

h1{
    font-size: 60px;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;

  }




  /* ABOUT */
.about{
    padding: 0 10px;
    margin: 5px 10px;
    text-align: justify;
}

  


/* FOOTER */
.footer {
    flex-flow: column;
    font-size: 12px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    

    align-content: end;
    text-align: center;
    color: #333;
  
    padding: 1px;
    border-bottom: 8px solid #f69e51;
  }


