* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body{
    background-color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    display: inline;
    
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgba(216, 212, 207, 0.9);
    font-weight: 700;
}


nav a{
    padding-right: 30px;
    gap: 20px;
    font: 25px;
}

.hero {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(253, 232, 236, 0.482);
  }

.hero button {
   
    padding: 12px;
    border: 3px solid transparent;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.536);
    border-radius: 8px;
    background-color: #fff;
}

button:hover{
    cursor: pointer;
    
}

button:

#fotoperfil {
    margin: 1rem;
    border-radius: 100%;
    border: 1px solid transparent;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.536);
}

div .botoes {
    display: inline-flex;
    width: 641px;
    height: 84px;
    align-items: flex-start;
    gap: 20px;

}

button{
    padding:20px 30px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #f69e51;

}



/* FORM */



